<header>
    <div class="container">
        <div class="row border-bottom bd-theme border-primary-color py-5">
            <div class="col-3">
                <p class="ff-britanica-bold fn-primary-color fs-2 text-center mb-0">about</p>
            </div>
            <div class="col-3">
                <p class="ff-britanica-bold fn-primary-color fs-2 text-center mb-0">archetypes</p>
            </div>
            <div class="col-3">
                <p class="ff-britanica-bold fn-primary-color fs-2 text-center mb-0">collection</p>
            </div>
            <div class="col-3">
                <p class="ff-britanica-bold fn-primary-color fs-2 text-center mb-0">test</p>
            </div>
        </div>
    </div>
</header>