<div class="empty" [class.actived]="fixedHeader"></div>
<header #header [class.actived]="scrollUp" [class.fixed-header]="fixedHeader">
    <!-- <div class="container-lg container-fluid ">
        <div class="row border-bottom bd-theme border-primary-color py-5">
            <div class="col-3 d-flex justify-content-center">
                <p class="ff-britanica-bold fn-primary-color fs-2 text-center mb-0 pointer item-header"
                    (click)="scrollToSection('about')">about</p>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <p class="ff-britanica-bold fn-primary-color fs-2 text-center mb-0 pointer item-header"
                    (click)="scrollToSection('archetypes')">archetypes</p>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <p class="ff-britanica-bold fn-primary-color fs-2 text-center mb-0 pointer item-header"
                    (click)="scrollToSection('collection')">collection</p>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <p class="ff-britanica-bold fn-primary-color fs-2 text-center mb-0 pointer item-header"
                    (click)="scrollToSection('test')">test</p>
            </div>
        </div>
    </div> -->
    <nav class="navbar sticky-top navbar-expand-lg bg-transparent p-0">
        <div class="container-lg container-fluid">
            <button class="navbar-toggler border-0" type="button" (click)="toggleNavBar()">
                <svg width="45" height="22" viewBox="0 0 45 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line y1="0.5" x2="45" y2="0.5" stroke="#B91F07" />
                    <line y1="11.5" x2="45" y2="11.5" stroke="#B91F07" />
                    <line y1="21.5" x2="45" y2="21.5" stroke="#B91F07" />
                </svg>

            </button>

            <div class="navbar-collapse border-bottom bd-theme border-primary-color" [class.actived]="collapse">
                <ul class="navbar-nav mr-auto w-100 justify-content-between">
                    <li class="nav-item">
                        <p class="ff-britanica-bold fn-primary-color fs-2 text-center mb-0 pointer item-header"
                            (click)="scrollToSection('about')">about</p>
                    </li>
                    <li class="nav-item">
                        <p class="ff-britanica-bold fn-primary-color fs-2 text-center mb-0 pointer item-header"
                            (click)="scrollToSection('archetypes')">archetypes</p>
                    </li>
                    <li class="nav-item">
                        <p class="ff-britanica-bold fn-primary-color fs-2 text-center mb-0 pointer item-header"
                            (click)="scrollToSection('collection')">collection</p>
                    </li>
                    <li class="nav-item">
                        <p class="ff-britanica-bold fn-primary-color fs-2 text-center mb-0 pointer item-header"
                            (click)="scrollToSection('test')">test</p>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>