@import "../../assets/var";

.arrows {
    z-index: 9999;
}

.question-container {
    max-width: 700px;
}

.custom-arrow {
    top: 20px;
    font-size: 5rem;

    &.left {
        left: -20px;
    }

    &.right {
        right: -20px;
    }
}

.answer-button {
    @media(max-width: 992px) {
        height: 145px;
    }

    height: 70px;

    svg {
        min-width: 35px;
        min-height: 35px;
    }

    &:hover {

        svg.mother {
            fill: $mother-color;
        }

        svg.sage {
            fill: $secondary-color;
        }

        svg.mystic {
            fill: $mystic-color;
        }

        svg.queen {
            fill: $queen-color;
        }

        svg.warrior {
            fill: $warrior-color;
        }

        svg.lover {
            fill: $primary-color;
        }

        svg.maiden {
            fill: $maiden-color;
        }
    }
}

.take-test {
    width: fit-content;
    place-self: center;

    svg {
        transition-property: transform;
        transition-duration: 0.8s;
        transform: rotate(0);
    }

    &:hover {
        svg {
            transform: rotate(90deg);
        }
    }
}

.back {
    min-width: 65px;
    text-decoration: none;
    height: fit-content;
}