@import "../../../assets/var";



.store-selector.active {
    .star-store {
        transform: rotate(90deg);
    }

    .arch-store {
        opacity: 1;
        transform: translateY(0);
    }
}

.arch-store {
    opacity: 0;
    transform: translateY(-30px);
    transition-property: transform opacity;
    transition-duration: 0.8s;
}

.star-store {
    width: 70px;
    transition-property: transform;
    transition-duration: 0.8s;
    transform: rotate(0);

    &:hover {
        transform: rotate(90deg);
    }

    &:hover+.arch-store {
        opacity: 1;
        transform: translateY(0);
    }
}

@media(max-width: 768px) {
    .star-store {
        width: 50px;
    }
}

.backsquare {
    position: absolute;
    z-index: -1;
    width: 87%;
    top: 50%;
    bottom: 50%;
    height: 90%;
    margin: auto;
}

.item-store {

    img,
    .backsquare {
        transition-property: scale;
        transition-duration: 0.6s;
        scale: 1;
    }

    &:hover {

        img,
        .backsquare {
            scale: 1.05;
        }
    }
}