.pointer {
    cursor: pointer;
}

.h-100px {
    height: 100px;
}

.pt-7 {
    padding-top: 6rem;
}

.fs-x {
    font-size: 3rem;
}

.mw-350-px {
    max-width: 350px;
}

.h-100-vh {
    height: 100vh;
}

.mh-500-px {
    height: 550px;
}

.w-70-px {
    width: 70px;
}

.mh-480-px {
    max-height: 480px;
}

.info-text {
    font-size: 1.5rem;

    @media(max-width: 1024px) {
        font-size: 1.25rem;
    }

    @media(max-width: 768px) {
        font-size: 1rem;
    }
}

//reset css
*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    overflow-x: hidden;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}