$primary-color: #B91F07;
$secondary-color: #14117C;
$background-color: #EDD8C5;
$font-color: #000000;

$paragraph-margin-bottom: 0px;

$queen-color: #F9A140;
$warrior-color: #BD5829;
$mother-color: #6F7417;
$mystic-color: #750591;
$maiden-color: #FE5D7F;