@import "../../assets/var";

.banner {
    #title-seven {
        width: 75%;
    }

    #title-sister {
        width: 95%;
    }

    @media (max-width: 768px) {

        #title-seven {
            width: 100%;
        }

        #title-sister {
            width: 100%;
        }
    }
}

.lines {
    position: relative;

    &::before {
        position: absolute;
        content: '';
        background-color: $primary-color;
        width: 1px;
        height: calc(100% + 1.5rem);
        top: 0;
        left: 0;
    }

    &::after {
        position: absolute;
        content: '';
        background-color: $primary-color;
        width: calc(100% + 1.5rem);
        height: 1px;
        bottom: 0;
        right: 0;
    }

    @media (max-width: 768px) {
        &::before {
            content: unset;
        }

        &::after {
            content: unset;
        }
    }
}


.scrolldiv {
    position: absolute;
}

.fixed-content {
    position: fixed;
    top: 30px;
}

.unfixed-content {
    position: relative;
}

.arch-section {
    max-height: calc(100vh - 30px);
}

.arch-container {
    min-height: 320px;
    height: 60vh;
    max-height: 600px;
}

.card-arch {
    .body-card-arch {
        overflow: hidden;
        width: 0px;
        transition-property: width;
        transition-duration: 0.5s;
    }

    .poster {
        position: absolute;
        height: calc(100% - 6rem);
        transform: translateX(-500px);
        transition-property: transform;
        transition-duration: 0.5s;
    }

    .archetype {
        opacity: 1;
        transition-property: opacity;
        transition-duration: 0.5s;
    }


    &.active {
        .body-card-arch {
            width: 350px;
        }

        .archetype {
            opacity: 0;
        }

        .poster {
            transform: translateX(0);
        }
    }
}

.text-body {
    min-width: 350px;
}