@import "../../assets/var";

.banner {
    #title-seven {
        width: 75%;
    }

    #title-sister {
        width: 95%;
    }

    @media (max-width: 768px) {

        #title-seven {
            width: 100%;
        }

        #title-sister {
            width: 100%;
        }
    }
}

.lines {
    position: relative;

    &::before {
        position: absolute;
        content: '';
        background-color: $primary-color;
        width: 1px;
        height: calc(100% + 1.5rem);
        top: 0;
        left: 0;
    }

    &::after {
        position: absolute;
        content: '';
        background-color: $primary-color;
        width: calc(100% + 1.5rem);
        height: 1px;
        bottom: 0;
        right: 0;
    }

    @media (max-width: 768px) {
        &::before {
            content: unset;
        }

        &::after {
            content: unset;
        }
    }
}

.store-section {
    min-height: 100vh;
    width: 100%;
    background-color: $background-color;
}